<h1>Here are the Employees</h1>

<ul>
<% @employees.each do |employee| %>
  <li><%= employee.first_name %></li>
  <li><%= employee.last_name %></li>
  <li><%= employee.email %></li>
  <br>
<% end %>
</ul>
